extends layout

block metas

block title
  title Dummy Page!
  
block links

block headScripts

block bodyScripts

block content

  .main

    .container

      .row
      
        .col-lg-10.col-centered

          .panel-body

            p Dummy Page Only !!!!!