extends layout

block metas

block title
  title Election App 2016!
  
block links

block headScripts

block bodyScripts

block content

  .modal.fade(id='modalAlert', tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title

        .modal-body

          .alertSuccess.alert.alert-success.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")
          .alertWarning.alert.alert-warning.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")
          .alertDanger.alert.alert-danger.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")

          div(id="errScrollbox")

          button(class="btn btn-default btn-md", data-dismiss="modal", style="margin-top: 6px;") OK

        .modal-footer

  .main
    br
    br

    .container

      .row

        .col-xs-12.col-sm-3.col-md-3.col-lg-3

          div(align="center")
            <!-- img(src="/images/someUser.jpg") -->
          br

        .col-xs-12.col-sm-7.col-md-7.col-lg-7

          div(align="center")

            div
              - var isodate= `${currentUser.previouslogin}`
              - var millis = Date.parse(isodate)

              .text-muted.alertEditUser
                small
                  i Last login:
                    | &nbsp;
                    +newAppDate(millis,true)
              br
              br

            div
              a.btn.btn-primary.btn-md(href="/userprofile") Account Settings
              br
              br
              a.btn.btn-primary.btn-md(href="/resources") Resources
              br
              br
              a.btn.btn-primary.btn-md(href="/comments") Latest Comments
              br
              br
              a.btn.btn-primary.btn-md(href="") My Comments
              br
              br
              a.btn.btn-primary.btn-md(href="") Most Commented
              br
              br
              a.btn.btn-primary.btn-md(href="") Most Recommended

  - if ( err )
    script.
      $('#modalAlert .modal-title').html( '!{err.title}' )
      $('#modalAlert .alertDanger').html( '!{err.alert}' )
      $('#modalAlert #errScrollbox').html( '!{err.message}' )
      $('#modalAlert .alertDanger').addClass('show').removeClass('hide')
      $('#modalAlert').modal({keyboard: false,backdrop: 'static'})
